input {
    width: 40px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#TopicCountField {
    width: 60px;
}
#PreferenceCountField {
    width: 60px;
}
#UpdateTableButton {
    width: 140px;
}
#ClearTableButton {
    width: 140px;
}
#AddRowButton {
    color: green;
}
.active {
    background-color: #7e7;
}
.invalid {
//     border-color: #E74C3C;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 8px rgba(255, 0, 0, 1);
//    background-color: #e77;
}
.label {
    width: 200px;
}
#ImageCol {
    text-align: center;
}
